:root {
    --color-blue-light: #A9D1E7;
    --color-blue-medium: #3A77B4;
    --color-blue-dark: #192873;
    --color-pink-light: #F2A7C1;
    --color-pink-medium: #D06B8C;
    --color-gray-light: #F2F2F2;
    --color-gray-medium: #B0B0B0;
    --color-white: #FFFFFF;
    --color-coral-light: #F4A6A6;
    --color-peach-light: #F9C7B1;
    }