@import "tailwindcss";

:root {
    --blue-light: #A9D1E7;
    --blue-medium: #3A77B4;
    --blue-dark: #192873;
    --pink-light: #F2A7C1;
    --pink-medium: #D06B8C;
    --gray-light: #F2F2F2;
    --gray-medium: #B0B0B0;
    --white: #FFFFFF;
    --coral-light: #F4A6A6;
    --peach-light: #F9C7B1;
    }