@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Overlock+SC&family=Overlock:ital,wght@0,400;0,700;0,900;1,400;1,700;1,900&display=swap');

html {
  color-scheme: light;

}

@theme {
    --default-font-family: var(--font-text);
    --font-text: "Overlock", "sans-serif";
    --font-title: "Overlock SC", "sans-serif";

    --color-blue-light: #A9D1E7;
    --color-blue-medium: #3A77B4;
    --color-blue-dark: #192873;
    --color-pink-light: #F2A7C1;
    --color-pink-medium: #D06B8C;
    --color-gray-light: #F2F2F2;
    --color-gray-medium: #B0B0B0;
    --color-white: #FFFFFF;
    --color-coral-light: #F4A6A6;
    --color-peach-light: #F9C7B1;
}

@layer utilities {
    .mask-image-radial {
      -webkit-mask-image: radial-gradient(circle, rgba(255, 255, 255, 1) 10%, rgba(255, 255, 255, 0) 10%);
      mask-image: radial-gradient(circle, rgba(255, 255, 255, 1) 20%, rgba(255, 255, 255, 0) 80%);
    }
  }